.search {
  padding-top: 180px;
  position: relative;
  clear: both;
}
.search > div {
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
  padding: 0 20px;
  height: 100px;
}
.search > div > div > div {
  top: 14px
}
.material-icons.prefix {
  cursor: pointer;
}
.search_list {
  position: absolute;
  top: 40px;
  left: 52px;
  color: #000;
  border: 1px solid #26a69a;
  z-index: 999;
  width: 45%;
  max-height: 250px;
  overflow: auto;
}
.search_list_item {
  padding: 6px;
  /* border-bottom: 1px solid #eee; */
  cursor: pointer;
}

.search_list_item:hover {
  background-color: rgba(230, 230, 230, 0.3);
}
#inputSearch {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.search > div > div > div > [for=inputSearch],
.search > div > div > div > i {
  color: #fff;

}
