.dashboard {
  display: flex;
}
.dashboard_left {
  /* text-align: center; */
  padding: 20px;
  /* border: 1px solid #000; */
  flex: 1;
}
.dashboard_left > h5 {
  text-align: left;
}
.collapsible-body {
  padding: 1rem ;
  text-align: left;
}
.collapsible-body > a {
  margin: 30px 0
}

/* .dashboard_left > ul  {
  text-align: left;
}
.dashboard_left > ul > li {
  cursor: pointer;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.dashboard_left > ul > li > i {
  align-self: center;
} */
.dashboard_right {
  padding: 20px;
  /* border: 1px solid #000; */
  flex: 3;
}
.dashboard_right > div {
  padding-top: 20px;
}

/* stepper style */
.stepper {
  padding: 8px;
}
.stepper > ul {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.stepper > ul > li > p {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: -36px;
  margin-left: 6px;
  font-size: 12px;
  font-weight: 500;
  transition: visibility 0.8s, opacity 0.8s;
}
.stepper > ul > li > p.active {
  visibility: visible;
  opacity: 1;
  color: black;
}
.stepper > ul > li:not(:last-child)::after {
  content:"";
  position: absolute;
  top: 20px;
  width: 30%;
  height: 2px;
  vertical-align: super;
  background-color: #04B49C;
  display:inline-block;
}

/* stepper section 1 */
/* .imageWrap {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
#previewImage {
  width: 100%;
  height: 100%;
}
.imageWrap > i {
  font-size: 80px;
}
div.file-field.input-field i {
  width: 4rem;
} */
