.chatWrapper {
  min-height: 500px;
  display: flex;
}
.chatWrapperBody {
  flex: 3;
  padding: 12px;
  min-height: 500px;
}
.chatBody {
  background: url('../../bg-chat.jpg') no-repeat;
  background-size: cover;
  min-height: 500px;
  padding: 8px;
  overflow: hidden;
  position: relative;
}

.chatBody > div > ul {
  max-height: 360px;
  width: 100%;
  overflow: auto;
  box-sizing: content-box;
  padding-right: 25px;
}
.chatBodyMessage {
  line-height: 14px;
  /* background: #eee */
  padding: 0 10px 10px 10px;
  /* border-bottom: 2px solid #999; */
}
.chatBodyMessage > h5 {
  font-size: 20px;
  font-style: italic;
}
.chatBodyMessage > p {
  padding-left: 16px;
}
.chatBodyFooter {
  position: absolute;
  display: flex;
  /* border: 1px solid #000; */
  padding: 2px 20px;
  bottom: 0;
  right: 0;
  left: 0
}

.chatWrapperDashboard {
  border: 1px solid black;
  flex: 1;
  padding: 10px;
}
.chatWrapperDashboard > div {
  position: relative;
}
.typing {
  position: absolute;
  top: -45px;
}


.collection {
  overflow: visible;
}

.collectionUser {
  position: relative;
}

.secondary-content {
  cursor: pointer;
}

.userOption {
  position: absolute;
  right: -120px;
  top: 0;
  /* background: #fff; */
  z-index: 999;
  min-width: 130px;
  border: 2px solid #26A69A;
  border-radius: 6px;
  padding: 4px;
}

.userOption.close {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s linear, opacity 0.1s linear;
}

.userOption.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s linear, opacity 0.1s linear;
}

.userOption > li {
  padding: 1px;
}
