.filters {
  /* max-height: 250px; */
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
}

.filters_header {
  display: flex;
  justify-content: space-between;
}

.filters_header > * {
  align-self: baseline;
}

.filters_body {
  padding-top: 25px;
  display: flex;
  /* justify-content: space-evenly; */
}

.filters_body > div {
  flex: 1;
}

.filters .fa-filter {
  font-size: 20px;
}
