.login {
  margin: 80px auto;
  padding: 40px;
}
.input-field .helper-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  margin: -10px 0 30px 3rem;
}
